<section class="panel panel-default">
    <div class="panel-heading">
        <h4 class="text-center">Create a new car</h4>
    </div>
    <div class="panel-body">
        <form action="/cars" method="POST">
            <div class="form-group">
                <input type="text" name="driver_name" class="form-control" placeholder="Driver name">
            </div>
            <div class="form-group">
                <input type="text" name="license_plate" class="form-control" placeholder="License Plate">
            </div>

            <div class="form-group">
                <div class="text-center">
                    <input type="submit" value="Create" class="btn btn-success" style="width: 100%">
                </div>
            </div>
        </form>
    </div>
</section>